<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10232607140-ojl5jlmm32g4taanqebdqta9abvocjmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10232607140-ojl5jlmm32g4taanqebdqta9abvocjmc</string>
	<key>API_KEY</key>
	<string>AIzaSyAuG7XgkXTjOig4_LBsV7472AtLC-7W2dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>10232607140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zyndicate.team.glova.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>glova-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>glova-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10232607140:ios:c5cb0eb3536a9fe40d9131</string>
</dict>
</plist>